

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.col-4{
  display: flex;
  align-items: center;
  justify-content: center;
}
p{
  margin: 0 10px 0 10px !important;
}